<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Spring Boot App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
</head>
<body>
<style>
   body {
    background: url(https://abrakadabra.fun/uploads/posts/2021-11/1636778628_37-abrakadabra-fun-p-fon-dlya-tovarov-internet-magazina-40.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
   }




</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="font-family: cursive;">
                <a class="navbar-brand" href="#" style="font-size: 250%">
                    <img src="https://media.istockphoto.com/id/1184211010/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/vs-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D0%B1%D1%83%D0%BA%D0%B2-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF-%D0%B8%D0%B7%D0%BE%D0%BB%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D1%8B-%D0%BD%D0%B0-%D0%BF%D1%80%D0%BE%D0%B7%D1%80%D0%B0%D1%87%D0%BD%D0%BE%D0%BC-%D1%84%D0%BE%D0%BD%D0%B5-vs-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D1%81%D0%B8%D0%BC%D0%B2%D0%BE%D0%BB%D0%B0.jpg?s=612x612&w=0&k=20&c=hQXwBq60sQutxLGbxYut89ru5FtJ_fVt1dJqkGkjqA0="
                         width="70" height="70" class="d-inline-block align-top" alt="">
                    Veles Market
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/userProfile">Back</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>

<div class="container" style="max-width: 800px; margin-left: auto; margin-right: auto">
    <form class="row g-3" action="#" th:action="@{/edit}" th:object="${user}" method="post">
        <div class="col-12">
            <b><label for="inputFirstName4" class="form-label">First name</label></b>
            <input type="text" class="form-control" id="inputFirstName4" th:field="*{firstName}"
                   placeholder="Enter new name"
                   style="width: 590px;height:40px">
        </div>

        <div class="col-12">
            <b><label for="inputLastName4" class="form-label">Last Name</label></b>
            <input type="text" class="form-control" id="inputLastName4" th:field="*{lastName}"
                   placeholder="Enter new last name"
                   style="width: 590px;height:40px">
        </div>

        <div class="col-12">
            <b><label for="inputEmail" class="form-label">Email</label></b>
            <input type="text" class="form-control" id="inputEmail" placeholder="@gamil.com" th:field="*{email}"
                   style="width: 590px;height:40px">
        </div>

        <div class="col-12">
            <b><label for="inputLogin" class="form-label">Login</label></b>
            <input type="text" class="form-control" id="inputLogin" placeholder="Enter new login"
                   style="width: 590px;height:40px" th:field="*{login}">
        </div>

        <div class="col-12">
            <b><label for="inputPassword" class="form-label">Password</label></b>
            <input type="password" class="form-control" id="inputPassword" th:field="*{password}"
                   placeholder="Enter new password"
                   style="width: 590px;height:40px">
        </div>

        <div class="col-12">
            <b><label for="inputMobileNumber" class="form-label">Mobile
                number</label></b>
            <input type="text" class="form-control" id="inputMobileNumber" placeholder="375xx"
                   th:field="*{mobileNumber}"
                   style="width: 590px;height:40px">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary" style=" background: #008EB0; color: #ffffff;margin-left: 450">
                Save changes
            </button>
        </div>
    </form>
</div>


<!-- Bootstrap JS -->
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>


</body>
</html>