<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Spring Boot App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css"/>
</head>
<body>
<style>
   body {
    background: url(https://abrakadabra.fun/uploads/posts/2021-11/1636778628_37-abrakadabra-fun-p-fon-dlya-tovarov-internet-magazina-40.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
   }


</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="font-family: cursive;">
                <a class="navbar-brand" href="#" style="font-size: 250%">
                    <img src="https://media.istockphoto.com/id/1184211010/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/vs-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D0%B1%D1%83%D0%BA%D0%B2-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF-%D0%B8%D0%B7%D0%BE%D0%BB%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D1%8B-%D0%BD%D0%B0-%D0%BF%D1%80%D0%BE%D0%B7%D1%80%D0%B0%D1%87%D0%BD%D0%BE%D0%BC-%D1%84%D0%BE%D0%BD%D0%B5-vs-%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2-%D1%81%D0%B8%D0%BC%D0%B2%D0%BE%D0%BB%D0%B0.jpg?s=612x612&w=0&k=20&c=hQXwBq60sQutxLGbxYut89ru5FtJ_fVt1dJqkGkjqA0="
                         width="70" height="70" class="d-inline-block align-top" alt="">
                    Veles Market
                </a>
            </div>
        </nav>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="input-group" style="width: 1100px">
                        <input type="text" class="form-control" placeholder="Search products" aria-label="Search"
                               aria-describedby="basic-addon2" style="height=45px;margin-right: 5;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                    style="width:90px;height:45px;margin-right: 10;">
                                Search
                            </button>
                            <button type="button" class="btn btn-success"
                                    style="width:200px;height:45px;background: #008EB0;margin-right: 10;">Place an
                                announcement
                            </button>
                            <button type="button" class="btn btn-success"
                                    style="width:150px;height:45px;background: #008EB0;margin-right: 10;">Registration
                            </button>
                            <button type="button" class="btn btn-success"
                                    style="width:100px;height:45px;background: #008EB0;margin-right: 10;">Sign in
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="margin-left: 40; width: 270px;height:50px; background: #008EB0; color: #ffffff;">
        Category
    </button>
</div>
    <ul class="dropdown-menu">
        <li>
            <button class="dropdown-item" type="button">Electronics</button>
        </li>
        <li>
            <button class="dropdown-item" type="button">TV</button>
        </li>
        <li>
            <button class="dropdown-item" type="button">Auto</button>
        </li>
        <li>
            <button class="dropdown-item" type="button">Other</button>
        </li>
    </ul>
</div>

<p><b class="fs-4" style="margin-left: 60;padding-top: 30">Location</b></p>

<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Brest
    </label>
</div>
<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        Vitebsk
    </label>
</div>

<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        Gomel
    </label>
</div>
<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        Grodno
    </label>
</div>
<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        Minsk
    </label>
</div>
<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        Mogilev
    </label>
</div>
<div class="form-check" style="margin-left:60">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <label class="form-check-label" for="flexCheckDefault">
        All
    </label>
</div>

<p><b class="fs-4" style="margin-left: 60;padding-top: 30">Cost</b></p>

<div class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Cost min" aria-label="Cost min"
               style="width: 100px;height:40px;margin-left: 60;">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Cost max" aria-label="Cost max"
               style="width: 100px;height:40px;margin-right: 1250;">
    </div>
</div>

<button type="button" class="btn btn-success"
        style="margin-left: 110; width: 130px;height:45px; background: #008EB0; color: #ffffff;margin-top: 10">
    Apply
</button>

<div class="card border-dark mb-3" style="max-width: 18rem;margin-left: 300;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" style="background: #008EB0;" class="btn btn-primary">Переход куда-нибудь</a>
    </div>
</div>




<div class="container mt-3">
    <h1></h1>
    <p></p>
</div>


<!-- Bootstrap JS -->
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</body>
</html>